<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\Debug\netcoreapp3.1\backend.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>






  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WsHttpBindingEndpoint">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
     <endpoint address="https://jerpaymentsws.jerweb.jer/PaymentsSrev.svc" binding="wsHttpBinding" bindingConfiguration="WsHttpBindingEndpoint" contract="PaymentsSrv.IPayments" name="WsHttpBindingEndpoint">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
