<p-card>
    <p-header>מוותרים על זכאות</p-header>
    <p-dialog *ngIf="display" header="הוספת מוותר על זכאות" [(visible)]="display" [style]="{width: '50vw'}">
        <jer-eligibility-waive-details (afterSubmit)="afterSubmit($event)"></jer-eligibility-waive-details>
    </p-dialog>

    <p-table #dt1 [columns]="columns" [value]="eligibilityWaiveArray" [paginator]="true" [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="מציג את רשומות  {first} עד {last}, מתוך  {totalRecords} רשומות"
        [rowsPerPageOptions]="[10,25,50]" dataKey="identityNumber" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="caption">
            <div class="flex">
                <button pButton pRipple label="הוספת חדש" (click)="showDialog()"></button>
                <button pButton label="נקה סינונים" class="p-button-outlined mr-2" icon="pi pi-filter-slash"
                    (click)="clear(dt1)"></button>
                <!-- <button pButton pRipple label="יצוא לאקסל" (click)="excel()" class="mr-auto"></button> -->
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>עריכה</th>
                <th *ngFor="let column of columns" [pSortableColumn]="column.key">{{column.value}}
                    <p-sortIcon [field]="column.key"></p-sortIcon>
                </th>
                <th>הוספת מנוי</th>
                <th>מחיקה</th>
            </tr>
            <tr>
                <th></th>
                <th *ngFor="let column of columns">
                    <p-columnFilter [field]="column.key" matchMode="contains" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <input [type]="column.type ?? 'text'" pInputText [ngModel]="value"
                                (ngModelChange)="filter($event)">
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-columns="columns" let-waive let-expanded="expanded">
            <tr>
                <td>
                    <button type="button" pButton pRipple [pRowToggler]="waive"
                        class="p-button-text p-button-rounded p-button-plain"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-left'"></button>
                </td>
                <td *ngFor="let col of columns">
                    <ng-container *ngIf="!col.isDate">{{waive[col.key]}}</ng-container>
                    <ng-container *ngIf="col.isDate">{{waive[col.key] | date: 'dd/MM/y'}}</ng-container>
                </td>
                <td>
                    <p-button label="הוסף מנוי" icon="pi pi-check" (click)="addSubscriber(waive)"></p-button>
                </td>
                <td>
                    <span class="p-buttonset">
                        <button label="מחק" type="button" pButton pRipple (click)="deleteConfirm(waive)"
                            icon="pi pi-trash" class="ui-button-warning"></button>
                    </span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-sub *ngIf="!display">
            <tr>
                <td colspan="14">
                    <jer-eligibility-waive-details [ewid]="sub.identityNumber"></jer-eligibility-waive-details>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-fileUpload url="https://localhost:44384/api/File/UploadFileExcel" [accept]="'.xlsx'"
        [chooseLabel]="'טעינת נתונים ממערכת כח אדם'" (onUpload)="onUpload($event)">
        <ng-template pTemplate="toolbar">
            <button pButton pRipple label="דוגמא לאקסל" (click)="excel()" class="mr-2"></button>
        </ng-template>
        <!-- <ng-template pTemplate="buttonbar">
        <button pButton pRipple label="יצוא לאקסל" (click)="excel()" class="mr-auto"></button>
        </ng-template> -->

    </p-fileUpload>
    <jer-delete *ngIf="showConfirmDel" (confirm)="delete($event)" (cancel)="showConfirmDel=false"></jer-delete>
</p-card>