.p-splitter .p-splitter-gutter {
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    background: #f8f9fa;
}

.p-splitter .p-splitter-gutter .p-splitter-gutter-handle {
    background: #dee2e6;
}