<!-- <h1> כתב התחיבות לעובד : </h1>
<h1>מספר תעודת זהות: {{currentID}}</h1>
<br>
<h5>jfiuguryeggurtgrheffkywerufyreugyureghgjhj</h5><br>
<h5>jfiuguryeggurtgrheffkywerufyreugyureghgjhj</h5><br>
<h5>jfiuguryeggurtgrheffkywerufyreugyureghgjhj</h5><br>
<h5>jfiuguryeggurtgrheffkywerufyreugyureghgjhj</h5><br> -->
<!-- <button (click)="exportPdf()" pButton  label="Export as pdf"></button> -->

<button pButton pRipple label="להורדת כתב התחייבות " (click)="create() ">
</button>
<div #content>
    <!DOCTYPE html>
    <html>
    <meta charset="utf-8">

    <body style="text-align:center;" id="body">
        <div id="y">
            <h1>
                כתב התחיבות לעובד {{name}}{{lastName}}</h1>
                <h1>מספר תעודת זהות: {{currentID}}</h1>     
                <br> 
               <p>
                    הריני מתחייב/ת
                    להודיע בכתב לאגף לוגיסטיקה בתוך 3 ימים על כל שינוי הנוגע למנוי החניה
                    ובכלל זה: השבתת הרכב, מכירתו, הפסקת הסדר ליסינג, שלילת רישיון נהיגב/רכב יציאה
                    לחופשה ללא תשלום, חופשת לידה, הצבה מחוץ לכיכר ספרא וכד.
                    
                    ידוע לי כי אין העירייה אחראית לכל נזק שיגרם לרכב או גניבה מהחניון

                    אני מתחייב/ת כי בעת העדרות מתוכננת וזמנית של למעלה מחמישה ימי עבודה רצופים אמסור 
                    את המנוי החניה שברשותי למנהל האגף בו אני עובד/ת , לשם ניצולובהעדרי באופן מסודר 
                    ומבוקר

               </p>

                 <h1>_____________________:חתימת העובד </h1>
        </div>
    </body>

    </html>
</div>


